*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --text-color: #E1E1E6;

  --hue: 200;

  --primary-color: hsl(var(--hue), 100%, 63%, 1);
  --input-bg: hsl(var(--hue), 65%, 7%, 1);
  --btn-search-bg: hsla(var(--hue), 91%, 25%, 1);
  --table-header-bg: hsla(var(--hue), 72%, 13%, 1);
  --table-bg-1: hsla(var(--hue), 61%, 6%, 0.5);
  --table-bg-2: hsla(var(--hue),  65%, 7%, 1);
  --remove-btn: hsla(20, 91%, 66%, 1);
  --border-table: hsla(var(--hue), 31%, 42%, 1);
}

.sr-only{
  position: absolute;
  width: 1;
  height: 1;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body{
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000000;
}

body *{
  font-family: var(--ff-primary);
}

#app{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

}

.border-shadow-all{
  border-radius: .8rem;
  box-shadow: 0 0 0 2px var(--border-table);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--input-bg);
  color: #4E5455;
  font-size: 4rem;
  font-weight: bold;
  gap: 6rem;
  border-radius:  0 0 .8rem .8rem ;
  min-height: 60vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10rem 0;
}


header h1{
  font-size: 2rem;
  text-transform: uppercase;
}

.search{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 4.8rem;

}


.search input{
  height: 100%;
  border-radius: .4rem;
  border: none;
  padding: 0 .8rem;
  margin-right: .8rem;
  background-color: var(--input-bg);
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
}


.add{
  background-color: var(--btn-search-bg);
  border-radius: .4rem;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1.2rem;
  font-weight: 700;
  transition: .4s ease-in-out;
}

.add:hover{
  background-color: #fff;
  cursor: pointer;
  color: var(--btn-search-bg);
}

.add:hover svg{
  fill: var(--btn-search-bg);
}

.add svg{
  width: 24px;
  height: 24px;
  color: #fff;
  fill: #fff;
  transition: .4s ease-in-out;
}

table{
  width: 100%;
  border-collapse: collapse;
}



table *{
  font-size: 2.0rem;
  color: var(--text-color);
  font-weight: 700;
}


table th{
  background-color: var(--table-header-bg);
  text-align: left;
  padding: 1.6rem 0;
}

table th:first-child{
  border-top-left-radius: .8rem;
  padding-left: 4.0rem;
}

table th:last-child{
  border-top-right-radius: .8rem;
  padding-right: 1.0rem;
}

table tr:nth-child(even){
  background-color: var(--table-bg-1)
}

table tr:nth-child(odd){
  background-color: var(--table-bg-2)
}

table tr:last-child{
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
}

table td{
  text-align: left;
}

td.user{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3.6rem 0 3.6rem 4.0rem ;
}

td.user a{
  text-decoration: none;
}

td.user a p{
  font-weight: bold;
}

td.user span{
  font-weight: 400;
}

td.user img{
  width: 5rem;
  height: 5rem;

  object-fit: cover;

  border-radius: 50%;
}

td .remove{
  background: none;
  border: none;
  color: var(--remove-btn)
}

.remove:hover{
  cursor: pointer;
}

